<form method=post action="/login">
    <table>
        <tr>
            <td>
                Login:
            </td>
            <td>
                {{ form.username }}
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                {{ form.password }}
            </td>
        </tr>
    </table>
    </dl>
    <p><input type=submit value=Login>
</form>
