<form method=post action="/register">
    <dl>
        <table>
            <tr>
                <td>Login:</td>
                <td> {{ form.username }}</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td> {{ form.password }}</td>
            <tr>
                <td>ReType Password:</td>
                <td> {{form.passwordRetype}}</td>
            </tr>
            <tr>
                <td> First Name:</td>
                <td>{{form.firstname}}</td>
            </tr>
            <tr>
                <td> Middle Name:</td>
                <td>{{form.middlename}}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td> {{form.lastname}}</td>
            </tr>
            <tr>
                <td> email_address:</td>
                <td> {{form.emailaddress}}</td>
            </tr>
            <tr>
                <td> phone:</td>
                <td>{{form.phonenumber}}</td>
            </tr>
        </table>

    </dl>
    <p><input type=submit value=Register>
</form>